.font-size-large{
    font-size: 2rem;
}

.font-weight-medium{
    font-weight: 700;
}

.border-blue{
    border: 2px solid #5d8dc5;
}

.text-blue{
    color: #5d8dc5;
}

.bg-white{
    background-color: #fff;
}

.btn.border-blue{
    border: 1px solid #5d8dc5;
}

.more-blogs{
    display: flex;
    width: 75%;
    justify-content: flex-end;
    padding: 0 0 1rem 0;
}

@media (min-width:578px){
    .more-blogs{
        width: 80%;
    }
}