.story{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-flw-blue);
    color: #fff;
    clip-path: polygon(0% 0%, 100% 3%, 100% 95%, 0% 100%);
    padding: 1.25rem 1.75rem 1rem 1.25rem;
    font-family: Montserrat;
}

.story-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 0 2rem 0;
}

.story-details > * {
    margin: 0.5rem 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
}

.story-details > h2 {
    font-weight: 500;
    margin: 1.5rem 0 0.5rem 0;
    font-size: 20px;
}

.more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 3rem;
}

.companyLogo{
    width: 15%;
}

.btn.border-white{
    border: 1px solid #fff;
}

.img-title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img-title .image {
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
    padding: 1.5rem 0;
}

.image img {
    padding: 1.25rem 0 1.5rem 0;
}

@media (min-width:579px){
    .story{
        flex-direction: row;
        clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
        padding:  1rem 2.5rem;
    }

    .more{
        padding: 1.5rem 0;
    }

    .more div{
        padding: 4rem 0;
        border-left: 2px solid #000;
    }

    .img-title{
        display: flex;
        flex-direction: row;
    }

    .img-title .image {
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
    }

    .image > div {
        padding: 1.5rem 0;
    }
    
    .image img {
        display: block;
        padding: 2rem 0 2rem 0;
    }

    .story-details{
        padding: 0 0 0 1.75rem;
    }
}