.back-blur{
    background-color: rgba(255,255,255,0.4);
}

.font-montserrat{
    font-family: Montserrat;
}

.font-montserrat.regular{
    font-family: Montserrat;
    font-weight: 300;
    line-height: 1.5rem;
}

.font-montserrat.medium{
    font-weight: 400;
}

.font-montserrat.bold{
    font-weight: 600;
}

.flw-feature{
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 1rem;
}

@media(min-width: 578px){
    .flw-feature{
        flex-direction: row;
        margin: 2rem 1rem;
    }
}

.reverse{
    flex-direction: row-reverse;
}