.row-reverse{
    flex-direction: row-reverse;
}

.back-blur{
    background-color: rgba(255,255,255,0.4);
}

.font-montserrat{
    font-family: Montserrat;
}

.font-montserrat.regular{
    font-family: Montserrat;
    font-weight: 300;
    line-height: 1.5rem;
}

.font-montserrat.medium{
    font-weight: 400;
}

.font-montserrat.bold{
    font-weight: 600;
}

.pill{
    padding: 0.5rem 1rem;
    border-radius: 50rem ;
    border: none;
}