footer{
    display: flex;
    font-size: 14px;
    text-align: left;
    background: linear-gradient(-8deg, #000 95%, rgba(0,0,0,0) 5%) ;
    padding: 2rem 1rem 0rem 1rem;
    color: #f3f3f3 !important;
    font-weight: 300;
}

footer span {
    margin: 0.5rem 0.25rem;
}

footer > div > div {
    display: flex;
    margin: 1rem 0;
}

.footer-row-1, .footer-row-2, .footer-row-3{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.logo {
    display: none;
}

.links{
    flex-direction: column;
    width: 75%;
    justify-content: space-evenly;
}

.links > * {
    margin: 1rem 0;
}

.social > * {
    margin-right: 3rem;
}

.apps{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.apps-standards{
    flex-direction: column;
}

.icon {
    width: 10rem;
}

.standards img{
    margin-right: 2.2rem;
    margin-top: 1rem;
}

.privacy {
    flex-wrap: wrap;
    width: 78%;
    align-items: center;
}
.privacy span {
    margin:0;
}
.privacy .dash{
    margin: 0 0.5rem;
}


@media(min-width:579px){
    .logo{
        display: block;
    }
    .links{
        flex-direction: row;
    }
    .links > * {
        margin: 0;
    }
    footer{
        padding-top: 5rem;
        background: linear-gradient(-3deg, #000 90%, #0000 10%) ;
    }
    footer > div div {
        display: flex;
        margin: 0 0;
    }

    .icon{
        padding-left: 3rem;
    }

    footer > div > div {
        width:100%;
    }
    .apps{
        flex-direction: row;
        margin-top: 1.35rem;
        margin-bottom: 0;
    }

    .standards{
        justify-content: flex-end;
        padding-left: 5rem;
    }
    .standards img{
        margin-top: 0rem;
        margin-left: 2rem;
        margin-right: 0rem;
    }

    .footer-row-1, .footer-row-3{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-row-2{
        flex-direction: column;
    }

    .apps-standards{
        flex-direction: column-reverse;
    }
    
}

.white{
    color: white;
}

.font-weight-feature{
    font-weight: 400;
}

.f3f3f3{
    color: #f3f3f3;
}

