.launch {
    margin: 0 0 -3.5rem 0;
    padding: 6rem 2rem;
    background-color: #1382c55f;
    clip-path: polygon(0% 0%, 100% 5%, 100% 90%, 0% 100%);
}

.pill.yellow{
    color: white;
    background-color: var(--color-launch-yellow);
    font-size: 20px;
    padding: 0.5rem 2.75rem ;
}

.launch h1 {
    margin: 5rem 0;
}

@media (min-width: 579px){
    .launch{
        clip-path: polygon(0% 0%, 100% 15%, 100% 90%, 0% 100%);
    }
}